/* колір основного тексту #212121 */
/* колір додаткового тексту #757575 */
/* колір фону: #F5F5F5 */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --primary-font-weight: 700;
  --second-font-weight: 500;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: #f5f5f5;
  font-size: 14px;
  color: #212121;
  font-family: Roboto, sans-serif;
}

/* Шапка сторінки */

.header-list {
  background-color: var(--primary-white-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px dashed #f44336;
}

/* Логотип студії */

.header-page {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: var(--primary-font-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03;
}

.logo-page {
  display: flex;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
}

.color-web,
.active {
  color: var(--accent-color);
}

.color-studio {
  color: #000000;
}

.nav .list {
  display: flex;
  margin-left: 93px;
}

.nav .list .item:not(:last-child) {
  margin-right: 50px;
}

.item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list .link {
  font-weight: var(--second-font-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.contacts {
  display: flex;
  margin-left: 344px;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  font-weight: var(--second-font-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  color: var(--primary-white-color);
  background-color: #2f303a;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 213px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}

/* Кнопка головної */

.hero-button {
  display: inline-block;
  margin-bottom: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0 solid transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-white-color);
}

/* Кнопки портфоліо */

.button {
  background-color: #f5f4fa;
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #212121;
}

/* Заголовки секцій */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Список проєктів портофоліо */

.projects-title {
  font-weight: var(--primary-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Наші переваги */

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 94px;
  font-weight: var(--primary-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  margin: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чим ми займаємося */

.activity {
  padding-top: 94px;
}

/* Наша команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03;
}

.team-profession {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: #757575;
  line-height: 1.19;
  letter-spacing: 0.03;
}

.team-name,
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Підвал сторінки */

.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer {
  display: block;
}

.footer-list .color-studio,
.footer-list .address {
  color: var(--primary-white-color);
}

.address-list .address {
  margin-top: 80px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--primary-white-color);
}

.footer-list .link-rgba {
  font-weight: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
